*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
    font-family: iconos;
    src: url(Glyphter.ttf);
    font-weight: bold;
} 
body{
    background-color: #3d3d3d;
}
.fuente{
    font-family: "iconos";
}
nav {
    height: 40px;
    background-color: #3d3d3d;
}
nav span{
    vertical-align: top;
    margin-left: 2%;
}
#logo{
    margin-left: 1%;
}
#tituloPagina{
    color: white;
    font-size: 2em;
    font-family: sans-serif;
}
#centroDePag{
    display: flex;
    height: 85vh;
    flex-flow: row nowrap;
}
#contVideo {
    width: 75%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
#video {
    height: 91%;
    background-color: black;
    border-top: 3px solid gray;
}
#controles{
    width: 100%;
    flex-basis: 50px;
    flex-grow: 0;
    display: flex;
    flex-flow: row wrap;
    align-self: flex-end;
    justify-content: space-around;
    background-color: #3d3d3d;
}
#controles button{
    width: 40px;
    height: 40px;
    font-size: 1.8em;
    margin-top: 0.7%;

    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;

    transition-duration: 1s;
}
#controles button:hover{
    color: white;
}
#tiempo{
    width: 40px;
    height: 40px;
    font-size: 1.1em;
    margin-top: 1.2%;
}
#controles #barraCarga{
    width: 300px;
    height: 75%;
    margin-top: 0.5%;
}
#controles #barraVolumen{
    width: 300px;
    height: 75%;
    margin-top: 0.5%;
    border: 1px solid black;
}
#barritaVolumen{
    width: 100%;
    height: 100%;
    display:flex;
    flex-flow: row wrap;
}
#barritaVolumen .vol{
    margin-left: 0px;
    width: 5%;
    height: 100%;
    margin-top: 0%;
}
#barritaVolumen .marcado{
    background-color: black;
}
#barritaCarga{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: lime;
}

/*
     Barra del lado
*/
aside {
    width: 25%;
    display: flex;
    flex-flow: column wrap;
    background-color: #3d3d3d;
    border-left: 3px solid gray;
    border-top: 3px solid gray;

}
.botonVideo{
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 1.2em;
    vertical-align: middle;

    background: none;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;

    padding: 3px;
    transition-duration: 1s;
}
.botonVideo:hover{
    background-color: gray;
}
.botonVideo span{
    margin-top: 15px;
}
/*
    Pie
*/
footer {
    width: 100%;
    height: fit-content;
    vertical-align: text-top;
    background-color: gray;
    border-bottom: 3px solid black;
}

/*
    Estilo video

    RESPONSIVIDAD MANUAL O MUERTE
*/

#vid{
    //position: absolute;
    //top: 50%; 
    //left: 50%;
    //-webkit-transform: translateX(-50%) translateY(-50%);
    //transform: translateX(-50%) translateY(-50%);
    min-width: 87%; 
    min-height: 100%; 
    max-width: 87%; 
    max-height: 100%; 
    margin-left: 6.5%;
    //max-width: 1000px; 
    //max-height: 800px;
    //z-index: -1000; 
    overflow: hidden;
    background-color: black;
}

#waveform{
    //position: absolute;
    //top: 50%; 
    //left: 50%;
    //-webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateY(100%);
    width: 100%;
    flex-grow: 0;
    margin-left: 0%;
    overflow: hidden;
    background-color: black;
}
#waveform *{
    overflow: hidden;
}

/*

    MENOS DE 1280PX = ACTIVAR RESPONSIVIDAD MÓVIL

*/

@media screen and (max-width: 1280px){
    #centroDePag{
        height: auto;
        flex-flow: column wrap;
    }
    aside{
        width: 100%;
        border-left: none;
        border-top: 3px solid gray;
    }
    #contVideo {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    /*
    #vid{
        min-width: 100%; 
        min-height: 100%; 
        max-width: 100%; 
        max-height: 100%; 
        margin-left: 0%;
    }
    */
}